.AffordableHomes-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.AffordableHomes-row a{
    text-decoration: none;
}

.AffordableHomes-content{
    padding-top: 55px;
}

.AffordableHomes-h1{
    color: var(--text);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 19.2px;
}

.AffordableHomes-p{
    background-color: var(--primary-accent);
    text-align: center;
    font-size: 20px;
    height: 121px;
    padding: 30px;
}

.state-images{
    width: 100%;
    height: 262.5px;
    display: block;
    object-fit: cover;
}

.see-more-link{
    grid-column: 1 / -1;
    width: 666px;
    height: 50px;
    border: 1.5px solid var(--primary-accent);
    color: var(--primary-accent);
    margin: 48px auto 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.see-more-link i{
    padding-left: 20px;
}