.partners-h1{
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    margin: auto;
    padding: 50px;
}

.h1-wrapper{
    justify-content: center;
    display: flex;
}

.partners{
    background-size: cover;
    background-position: center;
}